body {
  max-width: 60%;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
  background-color: #000000;
}

/* header and footer areas */
.menu { padding: 0; 
  border-width: 2px;
  border-style: solid;
  border-color: gold;
  /* box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px gold,
    0 0 82px gold,
    0 0 92px gold,
    0 0 102px gold,
    0 0 151px gold; */
}

.menu li { 
   display: inline-block; 
}

.article-meta, .menu a {
  text-decoration: none;
  /* background: #eee; */
  background: black;
  opacity: 0.7;
  padding: 5px;
  border-radius: 5px;
  /* text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa; */


}

p {
  color: cyan;
  font-size: 22px;
   /* background-color: black; */
  opacity: 0.8;
}

ul {
  color: cyan;
  font-size: 22px;
   /* background-color: black; */
  opacity: 0.8;
}



.menu, .article-meta, footer { 
  text-align: center; 
}


footer a { text-decoration: none; }

hr {
  /* border-bottom: none; */

  border-style: solid;
  color: cyan;
}

/* code */
pre {
  border: 1px solid #ddd;
  /* border: 1px solid #fff; */
  box-shadow: 5px 5px 5px cyan;
  padding: 1em;
  overflow-x: auto;
}

code { background: #f9f9f9; 
  color: lightgreen;
}
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; 
  background-color: (0,0,0,0);

}

main { hyphens: auto; }

blockquote {
  background: darkblue;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }

h1 { 
  /* text-decoration: underline; */
  line-height: 1.2em; 
  color: blue;
  font-size: 40px;
  border-bottom: 1px solid blue;
  /* background: dimgray; */

}

h2 {
  line-height: 1.2em; 
  color: cyan;
  font-size: 32px;
  border-bottom: 1px solid cyan;
}
a:link {
  color: gold;
  background-color: rgba(0,0,0,0);
  font-size: 22px;
}

/* visited link */
a:visited {
  color: gold;
}

/* mouse over link */
a:hover {
  color: blue;
  background: lightyellow;
  margin: 1px;
}

/* selected link */
a:active {
  color: blue;
}

.title {
  color: gold;
  font-size: 1.1em; 
  text-shadow:
    0 0 7px black,
    0 0 10px black,
    0 0 21px black,
    0 0 42px gold,
    0 0 82px gold,
    0 0 92px gold,
    0 0 102px gold,
    0 0 151px gold;
}


.date {
  color: lightblue;
  font-size: 22px;
  border-bottom: none;
}

